<h2>Lista usuários</h2>
<table>
    <thead>
        <th>ID</th>
        <th></th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td>
                <%= link_to 'e ', edit_admins_backoffice_user_path(user.id), title:"Editar" %>
            </td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
        </tr>
        <% end %>
    </tbody>
</table>