<!DOCTYPE html>
<html>
  <head>
    <title>Participa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "/layouts/menu" %>
    <% if admin_signed_in? %>
    <% #current_admin.inspect %>
    <%= link_to "Fazer logoff do admin", destroy_admin_session_path, method: :delete %>
    <% end %>
    <h1>Painel administrativo</h1>
    <%= yield %>
  </body>
</html>
