<!DOCTYPE html>
<html>
  <head>
    <title>Participa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    Layout User
    <%= render "/layouts/menu" %>
    <% if user_signed_in? %>
    <%= current_user.inspect %>
    <br>
    <%= link_to "Editar perfil", edit_user_registration_path %>
    <br>
    <%= link_to "Fazer logoff", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
